## SETUP

In [1]:
#import libraries
import pandas as pd
import sqlite3

In [4]:
#df = pd.DataFrame(#data here :/)

df = pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary'], \
'age': [23, 34, 43], 'city': ['Miami', 'Buenos Aries', 'Santiago']})

In [5]:
df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aries
2      Mary   43      Santiago

In [7]:
#We will sqlite3 library and create a connection
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [11]:
df.to_sql('people', cnn)

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
%sql sqlite:///jupyter_sql_tutorial.db

In [17]:
%%sql
SELECT *
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Juan', 23, 'Miami'),
 (1, 'Victoria', 34, 'Buenos Aries'),
 (2, 'Mary', 43, 'Santiago')]

In [18]:
%%sql
SELECT count(*)
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [19]:
%%sql
SELECT sum(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]

## Parameters walkthrough

In [20]:
#create dummy dataframe
df = pd.DataFrame({'transaction_id': ['9', '8', '7', '6', '5', '4', '3'], \
                  'user_id': ['rafa', 'roy', 'kenny', 'brendan', 'jurgen', 'roy', 'roy'],\
                  'transaction_date': ['2021-12-21', '2020-12-21', '2019-12-21',\
                                       '2018-11-21', '2017-10-21', '2019-03-02', '2010-01-01'],\
                  'amount': ['10', '15', '20', '24', '25', '31', '42']})

In [21]:
df

  transaction_id  user_id transaction_date amount
0              9     rafa       2021-12-21     10
1              8      roy       2020-12-21     15
2              7    kenny       2019-12-21     20
3              6  brendan       2018-11-21     24
4              5   jurgen       2017-10-21     25
5              4      roy       2019-03-02     31
6              3      roy       2010-01-01     42

In [22]:
#We will sqlite3 library and create a connection
cnn = sqlite3.connect('dummy.db')

In [29]:
df.to_sql('managers1', cnn)

In [30]:
%reload_ext sql

In [31]:
%sql sqlite:///dummy.db

In [32]:
%%sql
SELECT *
FROM managers1

 * sqlite:///dummy.db
Done.

[(0, '9', 'rafa', '2021-12-21', '10'),
 (1, '8', 'roy', '2020-12-21', '15'),
 (2, '7', 'kenny', '2019-12-21', '20'),
 (3, '6', 'brendan', '2018-11-21', '24'),
 (4, '5', 'jurgen', '2017-10-21', '25'),
 (5, '4', 'roy', '2019-03-02', '31'),
 (6, '3', 'roy', '2010-01-01', '42')]

In [34]:
%%sql
SELECT sum(amount) as 'spend_sum'
FROM managers1

 * sqlite:///dummy.db
Done.

[(167,)]

In [35]:
%%sql
SELECT 
    user_id
    , count(*) as num_transactions
    , sum(amount) as total_amount
FROM
    managers1
WHERE
    user_id = 'roy'
    and transaction_date = '2019-03-02'

 * sqlite:///dummy.db
Done.

[('roy', 1, 31)]

## For real this time

ovechal01, ovi8

1228 * 11,

In [2]:
stat_handle = input('stat handle:')
stat_sheet = f'./data/{stat_handle}_stats.csv'
stat_df = pd.read_csv(stat_sheet, sep= '\t', header= 0, index_col= None)

stat handle:ovechal01

In [3]:
stat_df

,date,goals,assists,+/-,pim,shots,shot%,TOI,hits,blocks,faceoff %
0,2005-10-05,2,0,1,2,5,40.0,17:36,NaN,NaN,NaN
1,2005-10-07,0,1,-2,0,1,0.0,17:44,NaN,NaN,NaN
2,2005-10-08,0,1,0,4,3,0.0,16:21,NaN,NaN,NaN
3,2005-10-10,1,0,1,2,6,16.7,15:03,NaN,NaN,NaN
4,2005-10-12,1,0,0,0,6,16.7,13:53,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1223,2021-12-10,0,2,0,0,4,0.0,25:21,4.0,0.0,NaN
1224,2021-12-11,0,1,0,0,6,0.0,25:36,0.0,0.0,NaN
1225,2021-12-15,1,1,0,2,10,10.0,21:51,2.0,0.0,NaN
1226,2021-12-17,1,0,1,0,8,12.5,20:30,0.0,0.0,NaN
1227,2021-12-19,0,0,-2,0,6,0.0,27:07,0.0,0.0,NaN

In [4]:
stat_handle = input('twitter handle:')
stat_sheet = f'./data/{stat_handle}.csv'
twitter_df = pd.read_csv(stat_sheet, sep= '\t', header= 0, index_col= None)

twitter handle:ovi8

In [5]:
twitter_df

,date time,display name,content
0,2021-12-02 18:19:51-05:00,Alex Ovechkin,The 2022 #CapsCanineCalendar is Ovi and Blake ...
1,2021-11-20 20:44:54-05:00,Alex Ovechkin,🏆 You took the biggest step!!! Congrats @WashS...
2,2021-11-16 04:04:50-05:00,Alex Ovechkin,Great to be part of the first @blockassetco Le...
3,2021-11-04 13:16:26-04:00,Alex Ovechkin,Good luck and see you guys soon in DC!! https:...
4,2021-10-28 22:15:31-04:00,Alex Ovechkin,Very proud to be a @Blockassetco Legend with @...
...,...,...,...
620,2009-01-21 14:51:20-05:00,Alex Ovechkin,At DC airport with tons of obama fans. Taking ...
621,2009-01-20 03:40:04-05:00,Alex Ovechkin,Lots of questions about my trick shot plans - ...
622,2009-01-20 01:35:55-05:00,Alex Ovechkin,Only thing better than scoring goals is winnin...
623,2009-01-19 04:31:30-05:00,Alex Ovechkin,Big win last night on a sick shot by Semin. No...
624,2009-01-17 20:46:40-05:00,Alex Ovechkin,Thought I'd use this to give you quick updates...

In [6]:
game_list = []
gm_dates = stat_df.iloc[:,0]
for gm in gm_dates:
    game_list.append(gm)
    
print(len(game_list))

1228

In [7]:
data_points = []
post_game = 0
tweet_dates = twitter_df.iloc[:,0]
tweet_times = twitter_df.iloc[:,1]
for gm, tm in zip(tweet_dates, tweet_times):
    if gm in game_list:
        
        hr = int(tm[:2])
        if hr < 19:
            data_points.append(gm)
        else:
            post_game += 1

print(f'{len(data_points)} good points of data, {post_game} postgame tweets')

0 good points of data, 0 postgame tweets

In [12]:
data_points = []
post_game = 0
tweet_dates = twitter_df.iloc[:,0]
#tweet_times = twitter_df.iloc[:,1]
for gm in tweet_dates:
    if gm[:10] in game_list:
        
        hr = int(tm[:2])
        if hr < 19:
            data_points.append(gm)
        else:
            post_game += 1

print(f'{len(data_points)} good points of data, {post_game} postgame tweets')

2021-12-02
2021-11-20
2021-11-16
2021-11-04
2021-10-28
2021-10-12
2021-08-07
2021-07-30
2021-07-27
2021-03-17
2021-03-04
2020-12-17
2020-12-03
2020-10-16
2020-10-08
2020-10-02
2020-09-03
2020-08-24
2020-06-10
2020-06-02
2020-04-30
2020-04-23
2020-04-22
2020-04-19
2020-04-07
2020-01-26
2020-01-14
2020-01-11
2019-12-22
2019-12-13
2019-11-29
2019-11-22
2019-11-21
2019-11-20
2019-10-30
2019-10-11
2019-10-10
2019-10-08
2019-10-01
2019-09-22
2019-09-02
2019-08-08
2019-06-27
2019-06-26
2019-02-14
2018-11-18
2018-10-31
2018-10-06
2018-10-02
2018-09-19
2018-09-15
2018-08-02
2018-07-05
2018-06-16
2018-06-14
2018-06-13
2018-04-04
2018-03-12
2017-12-28
2017-11-24
2017-10-20
2017-10-13
2017-10-12
2017-09-13
2017-09-08
2017-08-08
2017-07-18
2017-06-17
2017-05-30
2017-03-08
2017-03-03
2017-02-11
2017-02-05
2017-01-28
2016-12-31
2016-12-14
2016-12-09
2016-09-07
2016-08-28
2016-08-11
2016-06-10
2016-05-14
2016-04-13
2016-04-13
2016-04-13
2016-04-12
2016-04-12
2016-04-11
2016-03-11
2016-02-29
2016-02-12
2016-01-15
2016-01-11
2015-12-16
2015-10-20
2015-09-12
2015-09-11
2015-04-29
2015-04-03
2015-03-27
2015-03-02
2015-01-26
2015-01-25
2015-01-09
2015-01-01
2014-12-17
2014-10-28
2014-10-07
2014-10-07
2014-10-07
2014-10-06
2014-10-06
2014-10-05
2014-10-04
2014-09-25
2014-09-24
2014-09-24
2014-09-23
2014-09-18
2014-09-17
2014-09-17
2014-09-17
2014-09-17
2014-09-17
2014-09-17
2014-09-17
2014-09-14
2014-09-14
2014-09-07
2014-09-06
2014-08-30
2014-08-30
2014-08-28
2014-08-23
2014-08-23
2014-08-23
2014-08-17
2014-08-14
2014-08-13
2014-08-09
2014-08-08
2014-08-07
2014-08-07
2014-08-03
2014-08-02
2014-08-01
2014-08-01
2014-07-30
2014-07-20
2014-07-19
2014-07-19
2014-07-13
2014-07-11
2014-07-11
2014-07-08
2014-07-08
2014-07-02
2014-07-02
2014-07-02
2014-06-30
2014-06-30
2014-06-26
2014-06-25
2014-06-24
2014-06-24
2014-06-24
2014-06-22
2014-06-22
2014-06-22
2014-06-21
2014-06-21
2014-06-21
2014-06-20
2014-06-20
2014-06-20
2014-06-20
2014-06-19
2014-06-19
2014-06-19
2014-06-18
2014-06-17
2014-06-15
2014-06-15
2014-06-14
2014-06-12
2014-06-12
2014-06-10
2014-06-08
2014-05-27
2014-05-27
2014-05-26
2014-05-26
2014-05-26
2014-05-26
2014-05-25
2014-05-25
2014-05-25
2014-05-18
2014-05-15
2014-05-15
2014-05-15
2014-05-08
2014-05-05
2014-04-26
2014-04-20
2014-04-18
2014-04-12
2014-04-09
2014-04-09
2014-04-02
2014-04-02
2014-03-27
2014-03-26
2014-03-26
2014-03-24
2014-03-24
2014-03-23
2014-03-19
2014-03-19
2014-03-18
2014-03-18
2014-03-17
2014-03-16
2014-03-15
2014-03-05
2014-03-03
2014-02-26
2014-02-26
2014-02-26
2014-02-24
2014-02-24
2014-02-23
2014-02-23
2014-02-23
2014-02-21
2014-02-10
2014-02-10
2014-02-10
2014-02-10
2014-02-08
2014-01-21
2014-01-11
2014-01-05
2013-12-23
2013-12-11
2013-12-05
2013-12-05
2013-11-29
2013-11-27
2013-11-12
2013-11-09
2013-11-08
2013-11-04
2013-10-20
2013-10-20
2013-10-05
2013-10-02
2013-10-02
2013-09-30
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-29
2013-09-28
2013-09-28
2013-09-28
2013-09-26
2013-09-26
2013-09-24
2013-09-24
2013-09-24
2013-09-24
2013-09-24
2013-09-17
2013-09-17
2013-09-17
2013-09-15
2013-09-14
2013-09-05
2013-08-31
2013-08-30
2013-08-26
2013-08-23
2013-08-23
2013-08-23
2013-08-21
2013-08-18
2013-08-17
2013-08-03
2013-08-02
2013-08-01
2013-08-01
2013-07-24
2013-07-24
2013-07-24
2013-07-16
2013-07-16
2013-07-10
2013-07-06
2013-06-25
2013-06-25
2013-06-25
2013-06-21
2013-06-16
2013-06-16
2013-06-16
2013-06-16
2013-06-16
2013-06-16
2013-06-13
2013-05-27
2013-05-27
2013-05-27
2013-05-25
2013-05-17
2013-05-12
2013-05-12
2013-05-01
2013-04-28
2013-04-24
2013-04-21
2013-04-21
2013-04-17
2013-04-17
2013-04-17
2013-04-17
2013-04-17
2013-04-17
2013-04-14
2013-04-12
2013-04-12
2013-04-12
2013-04-12
2013-04-12
2013-04-10
2013-04-10
2013-04-10
2013-04-08
2013-04-07
2013-04-05
2013-04-05
2013-04-04
2013-04-03
2013-04-01
2013-03-31
2013-03-28
2013-03-28
2013-03-26
2013-03-25
2013-03-25
2013-03-25
2013-03-25
2013-03-25
2013-03-24
2013-03-24
2013-03-24
2013-03-24
2013-03-23
2013-03-22
2013-03-22
2013-03-22
2013-03-15
2013-03-15
2013-03-15
2013-03-14
2013-03-14
2013-03-14
2013-03-07
2013-03-07
2013-01-18
2013-01-09
2013-01-07
2012-12-20
2012-12-20
2012-12-19
2012-12-19
2012-11-10
2012-10-23
2012-09-25
2012-09-25
2012-09-19
2012-09-17
2012-09-17
2012-09-17
2012-09-17
2012-09-08
2012-09-08
2012-09-08
2012-09-08
2012-09-08
2012-09-07
2012-09-07
2012-09-07
2012-09-04
2012-08-28
2012-08-25
2012-08-14
2012-08-13
2012-08-12
2012-08-06
2012-08-05
2012-08-03
2012-08-02
2012-08-02
2012-08-01
2012-08-01
2012-07-29
2012-07-28
2012-07-28
2012-07-28
2012-07-23
2012-07-23
2012-07-23
2012-07-23
2012-07-05
2012-06-22
2012-06-16
2012-06-07
2012-05-29
2012-05-26
2012-03-09
2012-03-01
2012-02-13
2012-02-12
2012-02-12
2012-02-12
2012-02-12
2012-02-12
2012-02-12
2012-01-21
2012-01-06
2012-01-06
2012-01-04
2012-01-04
2012-01-04
2012-01-04
2012-01-04
2012-01-02
2012-01-01
2012-01-01
2011-11-30
2011-11-19
2011-10-16
2011-10-07
2011-10-03
2011-10-03
2011-09-23
2011-09-23
2011-09-23
2011-09-18
2011-09-18
2011-09-18
2011-09-17
2011-09-12
2011-09-09
2011-09-09
2011-09-09
2011-09-09
2011-09-08
2011-09-07
2011-09-07
2011-09-07
2011-09-07
2011-09-07
2011-09-06
2011-09-06
2011-09-06
2011-09-02
2011-09-01
2011-09-01
2011-07-16
2011-07-10
2011-07-09
2011-07-09
2011-07-08
2011-07-08
2011-07-08
2011-07-08
2011-07-08
2011-07-08
2011-07-08
2011-07-08
2011-07-05
2011-07-04
2011-07-04
2011-05-14
2011-05-06
2011-05-01
2011-04-24
2011-04-24
2011-04-23
2011-04-23
2011-04-22
2011-04-21
2011-04-14
2011-04-11
2011-04-04
2011-04-04
2011-04-04
2011-04-04
2011-04-04
2011-04-04
2011-04-04
2011-04-03
2011-04-03
2011-04-01
2011-03-27
2011-03-27
2011-03-24
2011-03-24
2011-03-20
2011-03-19
2011-03-16
2011-03-16
2011-03-16
2011-03-16
2011-03-16
2011-03-14
2011-03-14
2011-03-13
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-12
2011-03-11
2011-03-10
2011-03-10
2011-03-08
2011-03-08
2011-03-08
2011-03-08
2011-03-08
2011-03-08
2011-03-08
2011-03-07
2011-03-07
2011-03-06
2011-03-05
2011-03-05
2011-03-04
2011-03-04
2011-03-04
2011-03-04
2011-03-04
2011-03-04
2011-03-04
2011-03-04
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-03
2011-03-02
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-30
2009-01-26
2009-01-25
2009-01-25
2009-01-25
2009-01-25
2009-01-24
2009-01-24
2009-01-24
2009-01-24
2009-01-23
2009-01-23
2009-01-23
2009-01-23
2009-01-23
2009-01-23
2009-01-22
2009-01-21
2009-01-20
2009-01-20
2009-01-19
2009-01-17
0 good points of data, 0 postgame tweets

In [8]:
len(data_points)

0

Maybe need to include puck drop times? Would require altering stat scraper, and likely slowing it down signifigantly, to the magnitute of rendering an entire new webpage in beautfiul soup per row in the dataset. For Ovechkin this would include 1228 pages! Maybe I should use selenium as an alternative. However at least for Ovechkin, no gameday tweets were scheduled for 7pm EST. BRB Looking at tweet timestamps

In [9]:
for point in data_points:
    print(point)